{
	skip_install_trust
	auto_https disable_redirects
	http_port {$HTTP_PORT}
	https_port {$HTTPS_PORT}
}

:{$HTTP_PORT} {
	redir / {env.BASE_PATH}
	uri strip_prefix {env.BASE_PATH}
	file_server {
		root {env.BASE_PATH}
	}
}

:{$HTTPS_PORT} {
	redir / {env.BASE_PATH}
	uri strip_prefix {env.BASE_PATH}
	tls internal {
		on_demand
	}
	file_server {
		root {env.BASE_PATH}
	}
}
